/**************************
 * General Style
 **************************/

span.up, span.down { font-weight: bold }

span.up {
    color: green;
}

span.down {
    color: red;
}

/**************************
 * Header wrapper & Button
 **************************/

.headerwrapper .header-right {
    margin-left: 0;
}

.headerwrapper .header-left,
.headerwrapper .btn-group-btc-spot {
    display: none;
}

.trading-button-wrap, .sell-button-wrap, .buy-button-wrap {
    margin: 0 10px;
}

.headerwrapper .btn.active {
    border: 2px solid #fff;
}

.headerwrapper .btn {
    border: 2px solid #fff;
}

.headerwrapper .btn:focus {
    outline: none;
    line-height: 21px;
    transition: none;
}

.trading-button-wrap .btn,
.sell-button-wrap .btn,
.buy-button-wrap .btn {
    border-radius: 25px;
    margin: 0 3px;
    padding: 5px 12px;
    background: #3c7cb5;
    color: #e5e8ea;
    font-size: 14px;
    font-weight: bold;
    border-color: #3c7cb5;
}

.sell-button-wrap .btn {
    background: #015392;
    border-color: #015392;
}

.buy-button-wrap .btn {
    background: #015392;
    border-color: #015392;
}

.headerwrapper .sell-panic,
.headerwrapper .buy-panic {
    background: #cc0000;
    border-color: #cc0000;
}

.headerwrapper .trading-button {
    background: #006324;
    border-color: #006324;
}

.status-buy .buy-button-wrap,
.status-sell .sell-button-wrap {
    display: none;
}

/**************************
 * Marquee
 **************************/
.marquee {
    display: none;
}

.pageheader.marquee > div {
    animation: none !important;
    margin-left: 0 !important;
}

.js-marquee a {
    display: none !important;
}

/**************************
 * Hide sidepanel
 **************************/

/** hide sidepanel **/

.mainwrapper:before,
.mainwrapper .leftpanel {
    display: none;
}

.mainwrapper {
    margin-right: 470px;
}

.mainpanel {
    margin-left: 0;
}

/**************************
 * Spot stat style
 **************************/

.spot-stat-container.sell .trading.percent-diff,
.spot-stat-container.sell .trading.cut-loss,
.spot-stat-container.sell .trading.buy,
.spot-stat-container.sell .trading.one-percent,
.spot-stat-container.sell .trading.two-percent,
.spot-stat-container.sell .trading.three-percent {
    display: none;
}

.spot-stat-container.buy .trading.percent-diff,
.spot-stat-container.buy .trading.cl,
.spot-stat-container.buy .trading.buy,
.spot-stat-container.buy .trading.one-percent,
.spot-stat-container.buy .trading.two-percent,
.spot-stat-container.buy .trading.three-percent {
    display: block;
}

body.status-sell .trading,
body.status-buy .no-trading {
    display: none;
}

.spot-stat-container .cut-loss, .warning {
    color: red;
}

.trading.buy {
    color: blue;
}

.three-percent, .gain {
    color: green;
}


/**************************
 * content panel Form for Buy & Sell
 **************************/

.contentpanel #pending_orders_container + div.row {
    display: none;

    position: fixed;
    bottom: 0;
    z-index: 1000;
    background: #ffff;
    border-top: 1px solid #ddd;
}

.show-trading-form .contentpanel #pending_orders_container + div.row {
    display: block;
}

/**************************
 * Spot data table
 **************************/

body > section > div > div.mainpanel > div.contentpanel > div:nth-child(6) > div > div > div {
    height: 735px !important;
}


/**************************
 * Trading Analytics
 **************************/

.trading-analytics
{
    background: #fff;
    border-left: 1px solid #cecece;
    position: absolute;
    width: 470px;
    top: 0;
    right: -470px;
    height: 100%;
    padding: 10px 10px 10px 15px;
}

.trading-analytics h3 {
    text-transform: uppercase;
    font-size: 17px;
    border-left: 5px solid #f9b26c;
    padding-left: 7px;
    margin-bottom: 20px;
    font-weight: 600;
}

.trading-analytics tbody > tr:last-child td {
    border-bottom: none;
}

.trading-analytics tbody > tr > td:last-child {
    border-right: none;
}

.trading-analytics tbody > tr > td:first-child {
    border-left: none;
}

.table-border-selector {
    border: 1px solid #d6d6d6;
    border-radius: 5px;
    background: #fff;
}

.table-border-selector .table-bordered {
    margin-bottom: 0;
    border: 0;
}

.table-border-selector .table-bordered thead th:last-child {
    border-right: 0;
}